.wrapper-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.71);
}

.presentation {
  position: absolute;
  z-index: 1200;
}

.modal {
  position: relative;
  max-width: 800px;
  margin: 3rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #111;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms;
  animation: fadeIn 400ms;
}
.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
.modal_poster-img {
  width: 100%;
  height: auto;
}
.modal__user-perc {
  margin-right: 10px;
  color: #46d369;
}
.modal__content {
  padding: 40px;
  color: white;
}
.modal__title {
  padding: 0;
  font-size: 40px;
  margin: 16px 0;
}
.modal__details {
  font-weight: 600;
  font-size: 18px;
}
.modal__overview {
  font-size: 20px;
  line-height: 1.5;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  font-size: 10px;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 400ms ease;
  z-index: 1000;
  cursor: pointer;
}
.modal-close:hover {
  transform: rotate(180deg);
}

@media screen and (max-height: 768px) {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  }
  .modal {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-modal {
    padding: 0;
  }
  .modal {
    overflow-y: scroll !important;
  }
  .modal__overview {
    font-size: 16px;
  }
  .modal__details {
    font-size: 16px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
